onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=msw
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=@embedded-postgres/windows-x64
onlyBuiltDependencies[]=embedded-postgres
